:root {
  --my-surf-container-highest: #e4e1e9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --my-surf-container-highest: #35343a;
  }
}

a,
ul,
li,
h1,
h2,
h3,
p,
span {
  all: unset;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
